
<!-- <h1 md-dialog-title>Confirm</h1>
<div md-dialog-content>do yo want to delete ?</div>
<div md-dialog-actions>
  <button md-button style="color: #fff;background-color: #153961;" (click)="dialogRef.close(true)">Confirm</button>
  <button md-button (click)="dialogRef.close(false)">Cancel</button>
</div> -->

  <div class="d-flex">
    <span class="filler" ></span>
  <mat-icon class="close" mat-button (click)="onDismiss()" >close</mat-icon>
  </div>
    <h1 md-dialog-title>Confirm</h1>
  
  <div md-dialog-content>Do yo want to delete ?</div>
  <div>

  <button mat-flat-button color="primary"(click)="onDismiss()" class="btn1">No</button>
  <button mat-flat-button color="accent"(click)="onSuccess()">Yes</button>
</div>