<app-navbar></app-navbar>
<section class="main">
  <div class="main-box">
    <h2>Welcome to<br><span>Bank Data Project</span></h2>
    <!-- <h3>I build your front end code for your website</h3>
    <a href="project.html" class="btn">My works</a>
    <div class="social-icons">
      <a href="#facebook"><i class="fa-brands fa-facebook"></i></a>
      <a href="#linkedin"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#gethup"><i class="fa-brands fa-github"></i></a> -->
    <!-- </div> -->
  </div>
</section>


<section class="cards" id="services">
  <h2 class="main-title">services</h2>
  <div class="content">

    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-basket-shopping"></i>
      </div>
      <div class="info">
        <h3>Total Users</h3>
        <p>#65++</p>
      </div>
    </div>

    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-bars-staggered"></i>
      </div>
      <div class="info">
        <h3>Daily Views</h3>
        <p>1000+</p>
      </div>
    </div>

    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-toolbox"></i>
      </div>
      <div class="info">
        <h3>Pro</h3>
        <p>#infoaboutPro</p>
      </div>
    </div>

  </div>
</section>
